fastapi==0.100.0
pydantic==1.10.7
uvicorn==0.15.0
orjson==3.8.7
alembic==1.10.4
SQLAlchemy==2.0.20
psycopg2-binary==2.9.5
asyncpg==0.28.0
PyJWT==2.7.0
opentelemetry-api==1.18.0
opentelemetry-sdk==1.18.0
opentelemetry-instrumentation-fastapi==0.39b0
opentelemetry-exporter-jaeger==1.18.0
gunicorn==21.2.0